DDR (RFC9462) vs dug -d auto

RFC 9462 requires:

>    1.  The client MUST verify the chain of certificates up to a trust
>       anchor as described in Section 6 of [RFC5280].  The client SHOULD
>       use the default system or application trust anchors, unless
>       otherwise configured.

>   2.  The client MUST verify that the certificate contains the IP
>       address of the designating Unencrypted DNS Resolver in an
>       iPAddress entry of the subjectAltName extension as described in
>       Section 4.2.1.6 of [RFC5280].

We don't implement 2). 

The current code specifies `svcb_target` to TLS SNI:

```
H2TLS.settingsServerNameOverride = rinfoServerName
ccServerNameOverride = rinfoServerName
```

Cloudflare: 

- If SNI is a server *name* (e.g. one.one.one.one), it returns a certificate whose SAN does not include IP addresses.
- If SNI is an IP address, it returns a certificate whose SAN includes IP addresses.

So, we should specify an IP address to SNI instead of `svcb_target`.


AdGuard:

- If SNI is a server name, a connection can be created.
- If SNI is an IP address, a connection cannot be created.

So, we should specify `svcb_target` to SNI.

Both cannot stand together.


CloudFlare is against RFC 9462 while AdGuard follows RFC 9462.

The default algorithm for RFC 9262 should be:

- Specify `svcb_target` to SNI
- Check if the *original* IP is included SAN.

For CloudFlare, specify `ipv4hint`/`ipv6hint` to SNI as workaround.

Final solution:

- Don't specify SNI. (No references)
- Check if the *original* IP is included SAN. (RFC 9642 Sec 4.2)
- For DoH, specify the *original* IP address to `:authority`. (RFC 9642 Sec 6.3)

This works well for both CloudFlare and AdGuard.
Note that AdGuard's certificate does not include IPv6 addresses since its CA does not support IPv6 addresses in SAN.